:root {
    --accent-color: #AB816C;
    --primary-text-color: #2E2520;
    --hover-color: #876655;

    --font: "Montserrat", sans-serif;
    --special-font: "Caveat Brush", cursive;
}

$tablet-break-point: 768px;
$desktop-break-point: 1200px;