:root {
    --accent-color: #AB816C;
    --primary-text-color: #2E2520;
    --hover-color: #876655;
    --menu-bg: #FEF3E4E5;

    --font: "Montserrat", sans-serif;
    --special-font: "Caveat Brush", cursive;

    --transition: linear 200ms;
}

$tablet-break-point: 768px;
$desktop-break-point: 1200px;